* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    font-family: 'helvetica', sans-serif;
}

.nav {
    height: 50px;
    width: 100%;
    background-color: rgb(219, 218, 218);
    position: relative;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}

.nav > .nav-header {
    display: inline;
}

.nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: rgb(102, 101, 101);
    padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
    display: none;
}

.nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
}

.nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
}

.nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
    display: none;
}

@media (max-width:600px) {
    .nav > .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0;
        top: 0;
    }
    .nav > .nav-btn > label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
        background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }
    .nav > .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #333;
        height: 0;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0;
    }
    .nav > .nav-links > a {
        display: block;
        width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
        height: 0;
    }
    .nav > #nav-check:checked ~ .nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
}


.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 100px 0;
    padding: 45px;
    text-align: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}
.form input, textarea{
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}


.container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;

    align-items: start;
}

.list{
    padding: 100px 0;
    text-decoration: none;
}

ul {
    list-style: none;
    font-size: 29px;

}

li::before{
    content: ">";
}

table{
    width: 700px;
    text-align: left;
    padding: 5px;
}


th{
    border-collapse: collapse;

}

.thead {
    background: #252525;
    height: 30px;
    color: #ffffff;
    font-size: 13px;
    border: none;
    padding: 55px;
}

.thead  th{
    border-collapse: collapse;
    padding: 5px;
    margin:0;
    font-weight: 200;
}

table, tr, td{
    border:none;
    border-collapse: collapse;
    font-size: 15px;
    padding: 40px 5px  ;
    border-bottom:  1px solid rgba(32, 32, 32, 0.26);


}

.links {

    text-decoration: none;
    color: black;
    padding: 10px 15px;
    margin: 10px;
}

.green {
    background: #4CAF50;
    transition: 200ms;
    color: white
}

.red {
    background: rgba(253, 0, 0, 0.94);
    transition: 200ms;
    color: white;
    font-weight: 200;
}


.red:hover {
    background: rgba(183, 5, 5, 0.94);
    transition: 200ms;
}


.green:hover {
    background: #237226;
    transition: 200ms;
}

.alert {
    width: 100%;
    color: white;
    margin-bottom: 20px;
    padding: 20px 20px;
}

.alert:hover {
   cursor: pointer;
}

.greenb { background-color: rgba(35, 114, 38, 0.54)
}

.redb { background-color: rgba(145, 8, 8, 0.54)
}

.greyb { background-color: rgba(91, 91, 91, 0.54)
}

.center{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}